input{
    border-radius: 10px;
}
.row{
    /*cho phép thẻ div (col) nổi lên trên*/
    display: flex;
    /*Các thẻ div (col)  không đủ chỗ chứa trên 1 hàng thì rớt xuống*/
    flex-wrap: wrap;
}
i{
    padding: 20px;
    font-size: 25px;
}
p{
    font-family: Arial;
    color: lightslategrey;
    padding-left: 15px;
}
