input {
    border-radius: 20px;
}



i {
    padding: 20px;
    font-size: 28px;
}

p {
    font-family: Arial;
    color: lightslategrey;
    padding-left: 15px;
}
span{
    font-family: Arial Verdana
}
.row:hover{
    background-color: cadetblue;
}
